<div class="contenedor">
  <!-- <div class="contenedor pt-5"> -->
  <div class="container">
    <div class="row pt-md-3">
      <!-- <div class="row pt-md-3 pt-5"> -->
      <div class="col">
        <app-contact-form-stepper></app-contact-form-stepper>
        <br>
      </div>
      <div class="col text-center d-none d-md-block">
        <img src="assets/image/logos/logotipo.png" alt="" width="50%" style="top:40px; position: relative">
        <!-- <p>
          Aquí va la información de el por qué deberías contactar con nosotros, o qué es éste formulario, no lo sé, pero de que va algo aquí va algo aquí, posiblemente pongamos unos mocositos o unas fotitos, no lo sé.
        </p> -->
      </div>
    </div>
  </div>
</div>
