<div class="contenedor bg-white">
  <div class="container">
    <div class="row pt-md-3">
      <div class="col d-none d-md-grid">
        <div class="vertical-center">
          <div class="text-center">
            <p class="text-dark">
              ¿Quieres impulsar tu negocio en el mundo digital?
            </p>
            <h4 class="text-dark">
              Agenda una cita con nosotros para darle una dirección estratégica
              a tu negocio.
            </h4>
            <p class="text-dark">
              ¡Contáctenos hoy, llena el formulario y descubramos cómo podemos
              ayudarle a innovar y crecer!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <app-contact-form-stepper></app-contact-form-stepper>
        <br />
      </div>
    </div>
  </div>
</div>
