<div class="row section parallax-hidden">
  <div class="col relative d-none d-md-block">
    <ngx-parallax-scroll [config]="ParallaxSliderConfBackground">
      <img src="assets/image/backgrounds/background-section_2.png" class="background">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ngParallaxConf" class="web-world absolute">
      <img src="assets/image/backgrounds/web-world.png" alt="Wordl">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ngParallaxConf" class="shield absolute">
      <img src="assets/image/backgrounds/shield.png" alt="Escudo">
    </ngx-parallax-scroll>
  </div>
  <div class="col-md-6 margin-text">
    <h2>
      SERVICIO WEB
    </h2>
    <br>
    <p>Aquí pues ya basicamente comenzamos a inventar, debido a que no estamos seguros de qué podemos colocar aquí, seguramente coloquemos algo que la gente se va a quedar con la boca abierta de lo increíble que será, pero mientras tanto, vamos a poner éste texto de pruebas, seguido de un monton de texto simulando los servicios.</p>
    <ul>
      <li>Bueno aquí irtía uno</li>
      <li>Aquí podríamos el segundo</li>
      <li>Y adivina qué, aquí iría el tercero.</li>
    </ul>
  </div>
</div>
