.text-justify {
  text-align: justify;
}

.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}

// developments
.margin-text {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 100px;
  padding-right: 100px;
}

.web-world {
  top: 400px;
  left: 60px;
}

.web-world img {
  width: 450px;
  animation: floating 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
}

.shield {
  top: 650px;
  right: 150px;
}

.shield img {
  width: 250px;
  animation: floating 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: relative;
}

@keyframes floating {
  0% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}

// final
// Slider
.parallax-hidden {
  overflow: hidden;
}

.section {
  height: 550px;
}

img.background {
  width: 100%;
  z-index: 0;
}

.relative {
  position: relative;
}

.slider {
  top: -10px;
}

.absolute {
  position: absolute;
}

.moon_slider {
  top: 400px;
  z-index: 2;
  width: 100%;
}

.title {
  color: #fff;
}

.title_slider {
  top: 120px;
  z-index: 4 !important;
  width: 100%;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

p.subtitle {
  font-size: 40px !important;
  line-height: 40px;
}

.subtitle {
  font-weight: bold;
}

.planet_slider {
  top: 350px;
  right: 150px;
  z-index: 1;
}

.planet_slider img {
  width: 300px;
  height: 300px;
}

.center {
  text-align: center;
}
