.container {
  display: flex;
  justify-content: center;
  align-items: center;
  & .nav-link.active {
    color: #660fef;
  }

  & .nav-link:not(.active) {
    color: #b1b1b1;
  }
}

.container-gallery {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery {
  border: #660fef 1px solid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  // sm
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  // md
}
@media only screen and (min-width: 992px) {
  // lg
  .gallery {
    width: 1000px;
  }
}
