<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs pt-5">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Diseño Gráfico</a>
      <ng-template ngbNavContent>
        <!-- Disenio grafico -->
        <div class="container" >
          <div class="row p-md-5">
            <div
              class="col-sm-12 col-md-4 px-2 pt-2 portfolio-card"
              *ngFor="let design of data.des"
            >
              <mat-card class="portfolio-card">
                <img
                  mat-card-image
                  src="assets/image/backgrounds/{{ design.image }}.png"
                  alt="{{ design.title }}"
                  width="100%"
                  height="100%"
                />
                <mat-card-content class="text-center">
                  <p>
                    <b> {{ design.title }} </b>
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Desarrollo Informático</a>
      <ng-template ngbNavContent>
        <!-- Desarrollo -->
        <!-- <div class="container py-5 p-md-5 px-sm-0">
          <div class="row p-xl-5">
            <div
              class="col-sm-12 col-md-4 pt-2 pt-md-0 px-xl-2 py-xl-0 p-sm-2 portfolio-card"
              *ngFor="let dev of data.devs"
              (mouseover)="onMouseOver($event)"
            >
              <div class="screen-content">
                <i class="screen-icon fa-brands fa-codepen"></i>
                <div class="screen-user">
                  <span class="name" data-value="Landing Page">Landing Page</span>
                  <a
                    class="link"
                    href="https://www.instagram.com/ovnisolutions/?igshid=YmMyMTA2M2Y%3D"
                    target="_blank"
                  >
                    @Ovnisolutions
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="container py-5 p-md-5 px-sm-0">
          <div class="row p-xl-5">
            <div
              class="col-sm-12 col-md-4 pt-2 pt-md-0 px-xl-2 py-xl-0 p-sm-2"
              *ngFor="let dev of data.devs"
            >
              <app-card-portfolio [data]="dev"></app-card-portfolio>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
</div>

<div [ngbNavOutlet]="nav" class="mt-2 text-center"></div>
