<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs pt-5">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Diseño Gráfico</a>
      <ng-template ngbNavContent>
        <!-- Disenio grafico -->
        <div class="container-gallery">
          <div class="p-0 p-lg-5 pb-5 gallery">
            <gallery [items]="images" thumbPosition="left"></gallery>
            <!-- <gallery [items]="images">
              <ng-container *galleryImageDef="let item; let active = active">
                <div *ngIf="active" class="item-text">
                  {{ item?.desc }}
                </div>
              </ng-container>
            </gallery> -->
          </div>
        </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="2">
      <a ngbNavLink>Desarrollo Informático</a>
      <ng-template ngbNavContent>
        <!-- Desarrollo -->
        <div class="container py-5 p-md-5 px-sm-0">
          <div class="row p-xl-5">
            <div
              class="col-sm-12 col-md-4 pt-2 pt-md-0 px-xl-2 py-xl-0 p-sm-2"
              *ngFor="let dev of data.devs"
            >
              <app-card-portfolio [data]="dev"></app-card-portfolio>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
</div>

<div [ngbNavOutlet]="nav" class="mt-2 text-center"></div>
