<div class="row section parallax-hidden">
  <div class="col relative">
    <ngx-parallax-scroll [config]="ParallaxSliderConfBackground">
      <img src="/assets/image/backgrounds/background-section.png" class="background">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ParallaxConfPC"  class="pc">
      <img src="/assets/image/backgrounds/escritorio.png">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ParallaxConfPhone"  class="phone">
      <img src="/assets/image/backgrounds/phone.png">
    </ngx-parallax-scroll>
  </div>
  <div class="col-md-6 margin-text">
    <h2>
      DESARROLLO
      <br>
      WEB
    </h2>
    <br>
    <p class="text-justify">
      Un posicionamiento web permitirá  que se incrementes  las oportunidades de dar a conocer  su negocio ofreciendo a los internautas información, productos y servicios de manera fácil.
    </p>
    <ul>
      <li>
        Sitio web básico (one page)
      </li>
      <li>
        Sitio web empresarial (hasta 5 secciones)
      </li>
      <li>
        Lading page
      </li>
      <li>
        Tienda virtual (E-commerce​)
      </li>
      <li>
        Apps telefónicas (Android)
      </li>
      <li>
        Desarrollo de APIs (Interfaz de Programación de Aplicaciones)
      </li>
    </ul>
  </div>
</div>
