@import "~@angular/cdk/overlay-prebuilt.css";

@font-face {
  font-family: "Highway Gothic Wide";
  src: url("../fonts/HWYGWDE.ttf") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf") format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Highway Gothic Wide" !important;
  font-weight: bold;
}

h1 {
  font-size: 60pt !important;
}

h2 {
  font-size: 33pt !important;
}

h3 {
  font-size: 28pt !important;
}

h4,
h5 {
  font-size: 23pt !important;
}

h4 {
  color: #660fef;
}

h5 {
  color: #fff;
}

p,
li {
  font-size: 15pt;
}

p {
  font-family: "Montserrat" !important;
}

.title {
  color: #fff;
  font-size: 65px !important;
}

.subtitle {
  font-size: 40px !important;
}

.text-gray {
  color: #b1b1b1;
}

.center {
  text-align: center;
}
@media screen and (max-width: 320px) {
  .title {
    font-size: 35px !important;
  }
  .subtitle {
    font-size: large !important;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  /* sm */
  .title {
    font-size: 40px !important;
  }
  .subtitle {
    font-size: large !important;
  }
  .center {
    top: 40%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* md */
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* lg */
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  /* xl */
}
@media only screen and (min-width: 1400px) {
  /* xxl */
}

@media only screen and (min-width: 992px) {
  /* lg en adelante*/
  .subtitle {
    line-height: 40px;
    font-weight: bold;
  }
}
