<div class="footer">
  <div class="container">
    <div class="row pb-4 pb-lg-0">
      <div class="col-md-4 mt-4 mb-md-4">
        <div class="row">
          <div class="col text-center d-none d-lg-block logoShiny">
            <img src="assets/image/logos/logotipo.png" alt="logo ovnisolutions">
          </div>
          <div class="col">
            © Copyright {{date|date:'YYYY'}}. <!-- ovnisolutions.com -->
            <br>
            Todos los derechos reservados.
            <br>
            OVNISOLUTIONS C.A.
            <br>
            Rif. J-50138667-6
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-md-4 mb-md-4">
        <h4>
          CONTACTO
        </h4>
          <!-- Urb. El Recreo, Dtto. Capital,
          Caracas - Venezuela.
          <br> -->
          <a [href]="'mailto:' + email + '?subject=Solicitud de Servicios&body=¡Hola! Saludos cordiales, nos gustaría solicitar sus servicios para'">
            {{email}}
          </a>
          <br>
          <a href="https://wa.me/+593978728329?text=¡Hola! Saludos cordiales, nos gustaría solicitar sus servicios" target="_blank">
            <fa-icon [icon]="whatsapp"></fa-icon>
            +593 97.872.8329
          </a>
      </div>
      <div class="col-md-4 mt-md-4 mb-md-4">
        <h4>
          SÍGUENOS
        </h4>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="instagram"></fa-icon>
        </a>
        <!-- <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="facebook"></fa-icon>
        </a>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="linkedin"></fa-icon>
        </a>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="behanse"></fa-icon>
        </a>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="twitter"></fa-icon>
        </a> -->
      </div>
    </div>
    <div class="row py-3 px-5 d-none d-lg-flex">
      <div class="col text-center" (click)="emit(1)">
        <b class="pointer">Inicio</b>
      </div>
      <div class="col text-center " (click)="emit(2)">
        <b class="pointer">¿Quiénes somos?</b>
      </div>
      <div class="col text-center " (click)="emit(3)">
        <b class="pointer">Servicios</b>
      </div>
      <div class="col text-center " (click)="emit(4)">
        <b class="pointer">Proyectos</b>
      </div>
      <div class="col text-center " (click)="emit(5)">
        <b class="pointer">Contáctanos</b>
      </div>
    </div>
  </div>
</div>
