
.footer {
  background-color: #000;
  color: #fff;
  min-height: 200px;
  font-family: 'Montserrat';
  font-size: small !important;
}

.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.col-md-4 {
  margin: 0px;
  padding: 20px;
}

img {
  width: 150px;
}

fa-icon {
  font-size: xx-large;
}

// .fb {
//   color: #3b5998 ;
// }

// .ins {
//   color: #833AB4;
// }

// .lin {
//   color: #0072b1 ;
// }

// .be {
//   color: #053eff ;
// }

// .tw {
//   color: #00acee;
// }

.icon {
  color: #660fef;
}

a {
  text-decoration: none;
  color: #fff;
}


.pointer {
  cursor: pointer
}
