<!-- Slider -->
<div #home>
  <app-slider></app-slider>
</div>
<!-- End Slider -->

<!-- Inicio de servicios -->
<div #services>
  <app-services></app-services>
  <!-- Servicios de Desarrollo
  <app-development></app-development>
  End Servicios de Desarrollo -->

  <!-- Disenio web
  <app-web-design></app-web-design>
  End Disenio web -->

  <!-- Servicios web -->
  <!--
    <app-web-services></app-web-services>
  -->
  <!-- End Servicios web -->
</div>
<!-- end de servicios -->

<!-- Proyectos -->
<div #projects>
  <app-portfolio></app-portfolio>
</div>
<!-- end Proyectos -->

<!-- Equipo -->
<div #team>
  <app-ovni-team></app-ovni-team>
</div>
<!-- End equipo -->

<!-- contact us -->
<div #contact>
  <app-contact-us></app-contact-us>
</div>
<!-- end contact us -->
