<div class="row">
  <div class="col">
    <app-carousel></app-carousel>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-development></app-development>
  </div>
</div>

<div class="row sections designs">
  <div class="col-md-7 margin-text">
    <h1>
      DISEÑO GRÁFICO
    </h1>
    <br>
    <p>
      Nos encargamos de  diseñar  para comunicar visualmente los mensajes y valores  significativos que desea trasmitir su empresa.
    </p>
    <ul>
      <li>
        Identidad corporativa
      </li>
      <li>
        Diseño de Packaging
      </li>
      <li>
        Diseño publicitario
      </li>
      <li>
        Diseño Editorial
      </li>
      <li>
        Diseño web
      </li>
    </ul>
  </div>
  <div class="col parallax-hidden">
    <ngx-parallax-scroll [config]="ngParallaxConf" >
      <img src="../../../assets/image/logos/logotipo.png" alt="logo" class="logo">
    </ngx-parallax-scroll>
  </div>
</div>

<div class="row sections services">
  <div class="col-md-7 offset-md-5 margin-text">
    <h1>
      SERVICIO WEB
    </h1>
    <br>
    <p>Aquí pues ya basicamente comenzamos a inventar, debido a que no estamos seguros de qué podemos colocar aquí, seguramente coloquemos algo que la gente se va a quedar con la boca abierta de lo increíble que será, pero mientras tanto, vamos a poner éste texto de pruebas, seguido de un monton de texto simulando los servicios.</p>
    <ul>
      <li>Bueno aquí irtía uno</li>
      <li>Aquí podríamos el segundo</li>
      <li>Y adivina qué, aquí iría el tercero.</li>
    </ul>
  </div>
</div>

<div class="row sections contact">
  <app-contact-us></app-contact-us>
</div>

<app-footer></app-footer>
