.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}

.internal_margin {
  padding: 40px;
}
.team-mate {
  padding-left: 60px;
  padding-right: 60px;
}
img.team-avatar {
  width: 100%;
}

.center {
  text-align: center;
}

.parallax-hidden {
  overflow: hidden;
}

.division {
  height: 300px;
}

.relative {
  position: relative;
}

img.background {
  width: 100%;
  z-index: 0;
}

.moon_botton {
  z-index: 2;
  width: 100%;
  top: 0px;
}

.absolute {
  position: absolute;
}
