<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4 mb-md-4">
        <div class="row">
          <div class="col text-center d-none d-lg-block">
            <img src="assets/image/logos/logotipo.png" alt="logo ovnisolutions">
          </div>
          <div class="col">
            Copyright {{date|date:'YYYY'}}. ovnisolutions.com
            <br>
            Todos los derechos reservados.
            <br>
            OVNISOLUTIONS C.A.
            <br>
            Rif. J-000000000-0
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-md-4 mb-md-4">
        <h4>
          CONTACTO
        </h4>
          Urb. El Recreo, Dtto. Capital,
          Caracas - Venezuela.
          <br>
          <a href="mailto:ovni.solutions.oficial@gmail.com">
            ovni.solutions.oficial@gmail.com
          </a>
          <br>
          +58 412.555.55.55
          <br>
          +58 412.555.55.55
      </div>
      <div class="col-md-4 mt-md-4 mb-md-4">
        <h4>
          SÍGUENOS
        </h4>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="instagram"></fa-icon>
        </a>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="facebook"></fa-icon>
        </a>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="linkedin"></fa-icon>
        </a>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="behanse"></fa-icon>
        </a>
        <a class="icon m-2" href="https://instagram.com/ovnisolutions?igshid=YmMyMTA2M2Y=" target="_blank">
          <fa-icon [icon]="twitter"></fa-icon>
        </a>
      </div>
    </div>
    <div class="row py-3 px-5">
      <div class="col text-center " (click)="emit(1)">
        <b>Inicio</b>
      </div>
      <div class="col text-center " (click)="emit(2)">
        <b>¿Quiénes somos?</b>
      </div>
      <div class="col text-center " (click)="emit(3)">
        <b>Servicios</b>
      </div>
      <div class="col text-center " (click)="emit(4)">
        <b>Proyectos</b>
      </div>
      <div class="col text-center " (click)="emit(5)">
        <b>Contáctanos</b>
      </div>
    </div>
  </div>
</div>
