.slogan {
  font-size: 20px;
}

.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}

.section {
  height: 850px;
  overflow: hidden;
}

.objetives {
  position: relative;
  padding-left: 450px;
  padding-right: 450px;
  top: 700px;
}

.relative {
  position: relative;
}

.slider_content {
  background: #0c0c0c;
}

.star_body {
  position: absolute;
  transform: rotate(25.1deg);
  animation: shooting-star 20s linear infinite;
}

.tail {
  width: 200px;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent 10%,
    40%,
    #fff 90%,
    #b700ff 100%
  );
  box-shadow: 0px 0px 40px 0px #b700ff, 0px 0px 40px #00bbff,
    0px 0px 0px #0c0c0c00;
}

.star {
  width: 2px;
  height: 2px;
  background: rgba(183, 0, 255, 0.7);
  transform: rotate(45deg);
  box-shadow: 0px 0px 40px 0px rgba(183, 0, 255, 0.7),
    0px 0px 40px 0px rgba(183, 0, 255, 0.7),
    0px 0px 40px 0px rgba(183, 0, 255, 0.7),
    0px 0px 40px 0px rgba(183, 0, 255, 0.7);
}

@keyframes shooting-star {
  0% {
    top: 50px;
    left: 50px;
    opacity: 0;
  }
  8% {
    top: 50px;
    left: 50px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    top: 100vh;
    left: 100vw;
    opacity: 0;
  }
  100% {
    top: 100vh;
    left: 100vw;
    opacity: 0;
  }
}

.absolute {
  position: absolute;
}

.planet {
  top: 150px;
  left: -300px;
  z-index: 2;
  width: 100%;
}

.ovni_slider {
  top: 350px;
  left: 690px;
  z-index: 5 !important;
}

.title_slider {
  top: 200px;
  left: 600px;
  z-index: 4 !important;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
}

@media only screen and (max-width: 768px) {
  /* sm */
  .title_slider {
    background: url("../../../assets/image/backgrounds/slider.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    top: 0px;
    padding-top: 200px;
  }
}
