<div class="row section relative slider_content">
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="absolute title_slider center">
          <h1 class="title">OVNISOLUTIONS</h1>
          <br />
          <h2>Soluciones fuera de este mundo.</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ngx-parallax-scroll
          [config]="ParallaxSliderConfOvni"
          class="absolute ovni_slider"
        >
          <img src="assets/image/backgrounds/ovni_slider.png" />
        </ngx-parallax-scroll>
        <div class="star_body d-none d-md-flex">
          <div class="tail"></div>
          <div class="star"></div>
        </div>
        <ngx-parallax-scroll
          [config]="ParallaxSliderConfBackground"
          class="d-none d-md-block absolute planet"
        >
          <img src="assets/image/backgrounds/planet.png" />
        </ngx-parallax-scroll>
      </div>
    </div>
    <div class="row objetives">
      <div class="col col-12 col-md-6 py-2 text-white px-1 slogan">
        <h3>
          Somos un equipo multidisciplinario de diseño y desarrollo web,
          trabajamos para darte soluciones fuera de este mundo.
        </h3>
      </div>
      <div class="col px-1 py-2 text-gray">
        <h5 [@aniText]="state" (click)="changeMessage()">
          {{ currentText }}
        </h5>
      </div>
    </div>
  </div>
</div>
