.text-justify {
  text-align: justify;
}

.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}

.parallax-hidden {
  overflow: hidden;
}

.section {
  height: 650px;
  overflow: hidden;
}

img.background {
  width: 100%;
  z-index: 0;
  // min-height: 100% !important;
}

.relative {
  position: relative;
}

.slider {
  top: -10px;
}

.absolute {
  position: absolute;
}

.moon_slider {
  top: 400px;
  z-index: 2;
  width: 100%;
}

.ovni_slider {
  top: 350px;
  left: 100px;
  z-index: 3;
}

.title_slider {
  top: 120px;
  z-index: 4 !important;
  width: 100vw;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px;
}

.planet_slider {
  top: 350px;
  right: 150px;
  z-index: 1;
}

.planet_slider img {
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  /* sm */
  .title_slider {
    background: url("../../../assets/image/backgrounds/slider.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    top: 0px;
    padding-top: 200px;
  }
}
