<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div>
    <div class="bubble">
      <p class="text-dark">Creo que estás perdido, ¿necesitas ayuda?</p>
    </div>
    <div class="div-spaceship">
      <div class="spaceship"></div>

      <div class="dome"></div>
      <div class="alien">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
      <div>
        <div class="bar"></div>
        <div class="bar center"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</div>
