mat-form-field.mat-form-field {
  font-size: 14px !important;
}

.card {
  margin: 10px;
}

mat-form-field {
  width: 100% !important;
}

.capitalized {
  text-transform: capitalize !important;
}

input.filter {
  height: 40px;
  padding-left: 15px;
  width: 90%;
}

.info {
  font-size: small;
}
