<div class="row sections developments">
  <div class="col">
    <ngx-parallax-scroll [config]="ngParallaxConf" >
      <img src="../../../../assets/image/backgrounds/pantalla_prueba.png"
        class="laptop-parallax"
        alt="parallax-img"
        ngxParallaxScroll
        >
    </ngx-parallax-scroll>
  </div>
  <div class="col-md-7 margin-text ">
  <!-- <div class="col-md-7 offset-md-5 margin-text "> -->
    <h1>
      DESARROLLO
      <br>
      WEB
    </h1>
    <br>
    <p class="text-justify">
      Un posicionamiento web permitirá  que se incrementes  las oportunidades de dar a conocer  su negocio ofreciendo a los internautas información, productos y servicios de manera fácil.
    </p>
    <ul>
      <li>
        Sitio web básico (one page)
      </li>
      <li>
        Sitio web empresarial (hasta 5 secciones)
      </li>
      <li>
        Lading page
      </li>
      <li>
        Tienda virtual (E-commerce​)
      </li>
      <li>
        Apps telefónicas (Android)
      </li>
      <li>
        Desarrollo de APIs (Interfaz de Programación de Aplicaciones)
      </li>
    </ul>
  </div>
</div>
