.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}

.margin-text {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 100px;
  padding-right: 100px;
}

.parallax-hidden {
  overflow: hidden;
}

.section {
  height: 550px;
}

img.background {
  width: 100%;
  z-index: 0;
}

.relative {
  position: relative;

}

.absolute {
  position: absolute;
}

.presentation_Card{
  top: 400px;
  left: 60px;
}

.presentation_Card img {
  width: 250px;
  animation: floating 2s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
  position: relative;
}

.post {
  top: 300px;
  right: 50px;
}

.post img {
  width: 200px;
  animation: floating 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: relative;
}

.post2 {
  top: 1100px;
  right: 180px;
}

.post2 img {
  width: 300px;
  animation: floating 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
}

@keyframes floating {
  0% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}
