<div class="row section parallax-hidden">
  <div class="col-md-6 margin-text">
    <h2>
      DISEÑO GRÁFICO
    </h2>
    <br>
    <p>
      Nos encargamos de  diseñar  para comunicar visualmente los mensajes y valores  significativos que desea trasmitir su empresa.
    </p>
    <ul>
      <li>
        Identidad corporativa
      </li>
      <li>
        Diseño de Packaging
      </li>
      <li>
        Diseño publicitario
      </li>
      <li>
        Diseño Editorial
      </li>
      <li>
        Diseño web
      </li>
    </ul>
  </div>
  <div class="col relative">
    <ngx-parallax-scroll [config]="ParallaxSliderConfBackground">
      <img src="assets/image/backgrounds/background-section_2.png" class="background">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ngParallaxConf" class="presentation_Card absolute">
      <img src="assets/image/backgrounds/presentation_card_mockup.png" alt="Presentation Card">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ngParallaxConf" class="post absolute">
      <img src="assets/image/backgrounds/post_mockup.png" alt="Post">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ngParallaxConf2" class="post2 absolute">
      <img src="assets/image/backgrounds/post_mockup2.png" alt="Post 2">
    </ngx-parallax-scroll>
  </div>
</div>
