.margen {
  background: linear-gradient(to right, #5029d3, #75cbf3);
  width: 110px;
  height: 5px;
  transition: 0.5s;
}

.servicio {
  transition: .3s;
}

.servicio:hover {
  & .margen {
    width: 100%;
  }
  & .service-desc {
    -webkit-line-clamp: 5;
  }
}

.servicio img {
  max-width: 110px;
  width: auto;
  max-height: 110px;
  height: auto;
}

.service-desc {
  transition: .3s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
