<div class="container">
  <div class="row pt-5 px-5">
    <div class="col text-center">
      <h5>¿Estás listo para invertir en el desarrollo de tu empresa?</h5>
    </div>
  </div>
  <div class="row px-1 px-md-5">
    <div class="col px-1 px-md-5 text-center">
      <h3>
        Servicios integrales de diseño y desarrollo web, para cubrir<br />
        todos los aspectos que tu empresa necesita.
      </h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-4 p-2 my-3 px-3 servicio">
      <!-- servicio -->
      <div class="row">
        <div class="col-3 vertical-center pt-4">
          <img
            mat-card-image
            src="assets/image/services/branding.png"
            alt="Branding Digital"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Branding Digital</h4>
            </div>
          </div>
          <div class="row">
            <div class="col service-desc">
              <p>Diseño de identidad corporativa y material gráfico digital para tu empresa o pequeño negocio.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0">
        <div class="col p-0">
          <div class="margen"></div>
        </div>
      </div>
      <!-- end servicio -->
    </div>
    <div class="col-12 col-md-4 p-2 my-3 px-3 servicio">
      <!-- servicio -->
      <div class="row">
        <div class="col-3 vertical-center pt-4">
          <img
            mat-card-image
            src="assets/image/services/packages.png"
            alt="Diseño de Empaque"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Diseño de Empaque</h4>
            </div>
          </div>
          <div class="row">
            <div class="col service-desc">
              <p>
                Estrategias de diseño para diferenciarse de otras a través de un
                diseño personalizado de packaging o envoltorios de productos.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0">
        <div class="col p-0">
          <div class="margen"></div>
        </div>
      </div>
      <!-- end servicio -->
    </div>
    <div class="col-12 col-md-4 p-2 my-3 px-3 servicio">
      <!-- servicio -->
      <div class="row">
        <div class="col-3 vertical-center pt-4">
          <img
            mat-card-image
            src="assets/image/services/social.png"
            alt="Redes Sociales"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Llevamos tus Redes Sociales</h4>
            </div>
          </div>
          <div class="row">
            <div class="col service-desc">
              <p>
                Identificación y análisis del público objetivo mediante
                estrategias para ofrecer el producto o servicio.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0">
        <div class="col p-0">
          <div class="margen"></div>
        </div>
      </div>
      <!-- end servicio -->
    </div>
    <div class="col-12 col-md-4 p-2 my-3 px-3 servicio">
      <!-- servicio -->
      <div class="row">
        <div class="col-3 vertical-center pt-4">
          <img
            mat-card-image
            src="assets/image/services/development.png"
            alt="Desarrollo Web"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Desarrollo Web</h4>
            </div>
          </div>
          <div class="row">
            <div class="col service-desc">
              <p>
                Desarrollos web simples o complejas, desde cero y totalmente a
                medida.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0">
        <div class="col p-0">
          <div class="margen"></div>
        </div>
      </div>
      <!-- end servicio -->
    </div>
    <div class="col-12 col-md-4 p-2 my-3 px-3 servicio">
      <!-- servicio -->
      <div class="row">
        <div class="col-3 vertical-center pt-4">
          <img
            mat-card-image
            src="assets/image/services/apps.png"
            alt="Aplicaciones Móviles"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Aplicaciones Móviles</h4>
            </div>
          </div>
          <div class="row">
            <div class="col service-desc">
              <p>
                Diseño de experiencia de usuario y de interfaces para
                aplicaciones móviles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0">
        <div class="col p-0">
          <div class="margen"></div>
        </div>
      </div>
      <!-- end servicio -->
    </div>
    <div class="col-12 col-md-4 p-2 my-3 px-3 servicio">
      <!-- servicio -->
      <div class="row">
        <div class="col-3 vertical-center pt-4">
          <img
            mat-card-image
            src="assets/image/services/advisory.png"
            alt="Asesoría"
            width="100%"
            height="100%"
          />
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Asesoría</h4>
            </div>
          </div>
          <div class="row">
            <div class="col service-desc">
              <p>
                Orientación para conseguir que se cumplan los objetivos de tu
                empresa.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0">
        <div class="col p-0">
          <div class="margen"></div>
        </div>
      </div>
      <!-- end servicio -->
    </div>
  </div>
</div>
