<div class="row py-5 p-md-5">
  <div class="col center">
    <h2 class="text-white">Equipo Ovnisolutions</h2>

    <div class="row">
      <div
        class="col team-mate pt-2 col-sm-6 col-lg-4 pb-sm-5"
        *ngFor="let teamMember of team"
      >
        <div class="row">
          <div class="col">
            <img
              [src]="'assets/image/team/' + teamMember.image"
              class="team-avatar"
              alt=""
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <h3>{{ teamMember.name }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>
              <p *ngFor="let cargo of teamMember.cargos">{{ cargo }}</p>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              {{ teamMember.description }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- division planeta
<div class="row parallax-hidden division relative d-none d-md-block">
  <div class="col">
    <ngx-parallax-scroll [config]="ParallaxSliderConfBackground">
      <img src="assets/image/backgrounds/slider.png" class="background relative">
    </ngx-parallax-scroll>
    <ngx-parallax-scroll [config]="ParallaxSliderConfBackground" class="moon_botton absolute center">
      <img src="assets/image/backgrounds/moon_bottom.png">
    </ngx-parallax-scroll>
  </div>
</div>
End Division planeta -->
