<!-- menu web -->
<div class="menu d-none d-lg-block">
  <div class="row">
    <div class="col-1 my-1 logoShiny">
      <img src="assets/image/logos/logotipo.png" alt="logo" />
    </div>
    <div class="col">
      <a class="btn" [routerLink]="['/home']" fragment="home">
        <h5 class="item">INICIO</h5>
      </a>
    </div>
    <div class="col">
      <a class="btn" [routerLink]="['/home']" fragment="services">
        <h5 class="item">SERVICIOS</h5>
      </a>
    </div>
    <div class="col">
      <a class="btn" [routerLink]="['/home']" fragment="projects">
        <h5 class="item">PROYECTOS</h5>
      </a>
    </div>
    <div class="col">
      <a class="btn" [routerLink]="['/home']" fragment="team">
        <h5 class="item">NOSOTROS</h5>
      </a>
    </div>
    <div class="col">
      <a class="btn" [routerLink]="['/home']" fragment="contact">
        <h5 class="item">CONTÁCTANOS</h5>
      </a>
    </div>
  </div>
</div>
<!-- end menu web -->

<!-- menu phone -->
<div class="d-lg-none">
  <div class="sticky-navbar" [ngClass]="show ? 'deploy' : 'undeploy'">
    <button
      class="btn btn-lg btn-outline-primary close-button"
      (click)="actionMenu()"
    >
      <mat-icon matSuffix>close</mat-icon>
    </button>
    <div class="content">
      <div class="row">
        <div class="col col-12">
          <div class="row">
            <div class="col col-12 col-md-6 nav-phone">
              <div>
                <hr />
                <button
                  type="button"
                  class="btn btn-outline-primary btn-lg"
                  [routerLink]="['/home']"
                  fragment="home"
                  (click)="actionMenu()"
                >
                  INICIO
                </button>
                <hr />
                <button
                  type="button"
                  class="btn btn-outline-primary btn-lg"
                  [routerLink]="['/home']"
                  fragment="services"
                  (click)="actionMenu()"
                >
                  SERVICIOS
                </button>
                <hr />
                <button
                  type="button"
                  class="btn btn-outline-primary btn-lg"
                  [routerLink]="['/home']"
                  fragment="projects"
                  (click)="actionMenu()"
                >
                  PROYECTOS
                </button>
                <hr />
                <button
                  type="button"
                  class="btn btn-outline-primary btn-lg"
                  [routerLink]="['/home']"
                  fragment="team"
                  (click)="actionMenu()"
                >
                  NOSOTROS
                </button>
                <hr />
                <button
                  type="button"
                  class="btn btn-outline-primary btn-lg"
                  [routerLink]="['/home']"
                  fragment="contact"
                  (click)="actionMenu()"
                >
                  CONTÁCTANOS
                </button>
                <hr />
              </div>
            </div>
            <div class="col" (click)="actionMenu()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn btn-lg btn-primary button-open right"
    (click)="actionMenu()"
  >
    <mat-icon matSuffix>menu</mat-icon>
  </button>
</div>
<!-- menu phone -->
